<form id="searchbar" action="{{search_action}}" method="post">
	<input type="text" name="q" placeholder="{{writeString=wns.search}}" accesskey='f' id="search_field" value="{{writeRequestValue=q}}" title="{{writeString=search.wildcard_info}}" /><button id="search_button" href="">&nbsp;</button>
</form>
